/* add your styling here 
body {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}*/
button {
  position: fixed;
  margin-bottom: 20px;
}
select {
  position: fixed;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 5px;
}

img {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 250px;
  height: 250px;
}
